name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nargo
        uses: noir-lang/noirup@v0.1.3
        with:
          toolchain: stable

      - name: Check Nargo version
        run: nargo --version

      - name: Check syntax
        run: nargo check

      - name: Run tests
        run: nargo test --show-output

      - name: Run tests (tests package)
        working-directory: tests
        run: nargo test --show-output

  format:
    name: Format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nargo
        uses: noir-lang/noirup@v0.1.3
        with:
          toolchain: stable

      - name: Check formatting
        run: nargo fmt --check
        continue-on-error: true
